testcases/*/output.xml
testcases/*/report.html
testcases/*/log.html
venv
.idea
.ideas
output.xml
report.html
log.html
app-path/*
.png
.jpg
.metadata
.project
common.pyc
appium-screenshot-*
selenium-screenshot-*.png
red.xml
.pydevproject
libspecs/
